<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="player"
          class="com.springapp.game.model.Player">
        <property name="id" value="1"></property>
        <property name="score" value="10"></property>
        <property name="deuce" value="10"></property>
    </bean>
</beans>